body{
  height: 3000px;
}

.box{
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: grey;
  height: 180px;
  width: 320px;
}

.button{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top:-14px;
  left: -14px;
  background-color: black;
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-family: arial;
}

.time{
  position: absolute;
  font-family: arial;
  bottom: 6px;
  right: 6px;
  background-color: black;
  color: white;
  padding: 4px 6px;
}