.container{
    border-radius: 5px;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    flex-direction: row;
    width: 300px;
}
.notifications{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 6px 12px;
  font-family: roboto;
}

.fourteen{
  border: none;
  border-radius: 10px;
  background-color: #4A76E8;
  padding: 3px 10px;
  color: white;
  font-weight: bold;
  margin-top: 3px;
  margin-right: 7px;
}
