p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: roboto;
}

.container{
    height: 120px;
    width: 400px;
    display: flex;
    flex-direction: row;
}

.pic{
    width: 50px;
}

.pfp{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.info{
    width: 400px;
    margin-left: 8px;
}

.account{
    font-weight: bold;
}

.acc{
    color: grey;
    font-weight:400;
}

.description{
    margin-top: 5px;
    line-height: 1.3;
}

.videocontainer{
    width: 330px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    display: flex;
    flex-direction: row;
    height: 95px;
    border-radius: 12px;
    margin-top: 10px;
}

.nothing{
    width:90px;
    background-color: grey;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

}

.videotitle{
    width: 240px;
}

.video{
    border-width: 1px;
    border-style: solid;
    width: 240px;
    border-color: grey;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-left: 10px;
    padding-top: 15px;
}




